.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 125px;
    flex: 0 0 1;
    font-size: 40px;
}

table {
    margin-left: 150px;
    border: 1px solid black;
    background-color: grey;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
}

td {
    border: 1px solid black;
    width: 75px;
    height: 75px;
    text-align: center;


}

.Coperator, .multoperator, .divoperator, .minoperator, .addoperator, .equaloperator {
    background-color: orange;
}

button {
    width: 75px;
    height: 75px;
    background-color: aqua;
    font-size: 40px;
}

.results {
    background-color: rgb(192, 189, 189);
    border: 1px solid black;
    margin-left: 150px;
    width: 321px;
    padding-left: 5px;
}